.block {
  padding: 0 30px;
}
.padding {
  padding: 0 !important;
}
.header {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.products {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 20px;
}
.button {
  width: 100%;
  color: #ffffff;
  background-color: #000000;
  text-align: center;
  height: 60px;
  border: 0 none;
  font-size: 16px;
  font-weight: 700;
}
