.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.img {
  width: 70px;
  height: 70px;
  border-radius: 7px;
  margin-right: 10px;
}
.description {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-right: 10px;
}
.count {
  display: flex;
  align-items: center;
  margin-right: 10px;
  width: 85px;
}
.quantity {
  margin: 0 10px;
}
.price {
  margin-right: 10px;
  width: 65px;
}
@media (max-width: 980px) {
  .product {
    justify-content: space-between;
  }

}